{% extends "base.html" %}

{% block title %}{{ first_name }}'s Profile{% endblock title %}

{% block content %}
{% include "blog/includes/header.html" %}

{% if messages %}
  {% for message in messages %}
    <div class="container container--narrow">
    {% if message.tags == "success" %}
      <div class="alert alert-success text-center">
    {% elif message.tags == "error" %}
      <div class="alert alert-danger text-center">
    {% endif %}
    {{ message }}
    </div>
  {% endfor %}
{% endif %}

    <div class="container py-md-5 container--narrow">
      <h2>
        <img class="avatar-small" src="{{ avatar_url }}" /> {{ first_name }}'s Profile
        {% if request.user.pk == user_id %} {% comment %} Only show the manage avatar button if the user is looking at their own profile {% endcomment %}
          <a href="/manage-avatar/" class="btn btn-secondary btn-sm">Manage Avatar</a>
        {% else %}
          {% if not isFollowing %}
            <form class="ml-2 d-inline" action="/follow/{{ user_id }}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
          {% else %}
            <form class="ml-2 d-inline" action="/unfollow/{{ user_id }}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button>
          {% endif %}  
        {% endif %}
        </form>
      </h2>

      <div class="profile-nav nav nav-tabs pt-2 mb-4">
        <a href="/profile/{{ user_id }}/" class="profile-nav-link nav-item nav-link {% if request.resolver_match.url_name == 'view_profile' %} active {%endif%}">Posts: {{ posts_count }}</a>
        <a href="/profile/{{ user_id }}/followers/" class="profile-nav-link nav-item nav-link {% if request.resolver_match.url_name == 'profile_followers' %} active {%endif%}">Followers: 3</a>
        <a href="/profile/{{ user_id }}/following/" class="profile-nav-link nav-item nav-link {% if request.resolver_match.url_name == 'profile_following' %} active {%endif%}">Following: 2</a>
      </div>

      <div class="profile-slot-content">
        {% block slot %}{% endblock slot %}
      </div>
    </div>

{% include "blog/includes/footer.html" %}
{% endblock content %}
