    <header class="header-bar mb-3">
      <div class="container d-flex flex-column flex-md-row align-items-center p-3">
        <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">Blog App</a></h4>
        {% if user.is_authenticated %}
          <div class="flex-row my-3 my-md-0">
            <a href="#" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-search"></i></a>
            <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment"></i></span>
            {% if user.profile.avatar %}
              <a href="/profile/{{ user.id }}/" class="mr-2"><img title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px" src="{{ user.profile.avatar.url }}" /></a>
            {% else %}
              <a href="/profile/{{ user.id }}/" class="mr-2"><img title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px" src="/uploads/avatars/fallback-avatar.jpg" /></a>
            {% endif %}
            <a class="btn btn-sm btn-success mr-2" href="/create-post/">Create Post</a>
            {% comment %} <form action="logout/" method="POST" class="d-inline"> {% endcomment %}
            <form action="/logout/" class="d-inline">
              {% csrf_token %}
              <button class="btn btn-sm btn-secondary">Sign Out</button>
            </form>
          </div>
        {% else %}
          <form action="/login/" method="POST" class="mb-0 pt-2 pt-md-0">
            {% csrf_token %}
            <div class="row align-items-center">
              <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                {{ form.email }}
                {% comment %} <input name="loginusername" class="form-control form-control-sm input-dark" type="text" placeholder="Email" autocomplete="off" /> {% endcomment %}
              </div>
              <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                {{ form.password }}
                {% comment %} <input name="loginpassword" class="form-control form-control-sm input-dark" type="password" placeholder="Password" /> {% endcomment %}
              </div>
              <div class="col-md-auto">
                <button class="btn btn-primary btn-sm">Sign In</button>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </header>
    <!-- header ends here -->

